body {
    margin: 0;
    padding: 0;
}

label {
    font-size: 13px;
    color: lightgray;
}

#header {
    background-color: #3883fa;
}

.treeWrap{
    position: relative;
}
#tree {
    overflow: hidden;
    margin: 0 60px;
    padding-left: 20px;
    outline: none;
}

span {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    position: absolute;
    left: 30px;
    color: #999;
    font-size: 12px;
    padding-top: 4px;
}

b,
strong {
    font-weight: normal;
}

cite,
em {
    font-style: normal;
}

#header ul {
    margin: 0 20px;
    height: 48px;
}


ul li {
    float: left;
    list-style: none;
    height: 48px;
    line-height: 48px;
}

ul li:first-child {
    position: relative;
    margin-right: 300px;
}

ul li:first-child button {
    margin-left: 270px;
    margin-bottom: 3px;
    background-color: mediumvioletred;
    color: white;
    height: 25px;
    border-radius: 0;
}

ul li button,
select {
    cursor: pointer;
    border-radius: 2px;
    margin-right: 20px;
    padding: 0 10px;
    color: indianred;
}

li select {
    height: 26px;
}

i {
    cursor: pointer;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px;
}

.triangle_border_right {
    border-color: transparent transparent transparent #333;
}

.triangle_border_down {
    border-color: #333 transparent transparent transparent;
}

.boolean {
    color: #ff0000;
}

.bracket {
    color: grey;
}

.number {
    color: green;
}

.string {
    color: #ff8c00
}
dl button{
    outline: none;
}
button,
input {
    cursor: pointer;
    border: none;
    background-color: white;
    widows: 21px;
    height: 24px;
    padding: 0px;
    vertical-align: middle;
}

dl {
    margin: 4px;
}

dd {
    margin-left: 20px;
}

/* .colpick_submit {
    display: none;
} */

#fileId {
    opacity: 0;
    position: absolute;
    top: 12px;
    z-index: 3;
    height: 24px;
    width: 270px;
}

#topInput {
    width: 270px;
    position: absolute;
    top: 11px;
}